body{
    background-color: #000000;
}

h1{
    color: #FFFFFF;
    background-color: green;
    opacity: 0.5;
}

p {
    color: #FFFFFF;
    background-image: url("https://bit.ly/3xsGrI8");
    opacity: 0.5;
}